.search-input {
  background-color: rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.09);
  color: currentColor !important;
  border-radius: 99px;
  border: 1px solid #ddd;
  padding: 0 0.75em;
  height: 2.507em;
  font-size: 0.97em;
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
}
